language: r
warnings_are_errors: false
sudo: false
cache: packages

# environment variables set for all builds
env:
  global:
    - R_BUILD_ARGS="--no-build-vignettes --no-manual"
    - R_CHECK_ARGS="--no-build-vignettes --no-manual --timings"  ## do not build vignettes or manual
    - _R_CHECK_TIMINGS_="0"  ## get the timing information for the examples for all of your functions


r_build_args: --no-build-vignettes --no-manual
r_check_args: --no-build-vignettes --no-manual --timings

#r_packages:
#  - covr

notifications:
  email:
    recipients:
      - sebkranz@gmail.com
    on_success: always # default: change
    on_failure: always # default: always


after_failure:
  - Rscript -e 'cat("\nUps, build failed...")'


after_success:
#  - Rscript -e 'covr::codecov()'
  - Rscript -e 'cat("\nHi, successful build!")'
